# URL de la API (producción por defecto si no se define)
# EXPO_PUBLIC_API_URL=https://api.apprestaurants.com/v1

# Desarrollo local (descomenta y ajusta tu IP)
# EXPO_PUBLIC_API_URL=http://192.168.100.20:3000/v1
# EXPO_PUBLIC_LOCAL_API_HOST=192.168.100.20
